html {
    font-size: 10px; /*px means "pixels": base
                        font size is 10px high now.*/
    font-family: "Fira Sans", sans-serif;      
    background-color: #0c6827;             
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #885e2e;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
} 


a[href="https://www.alltrails.com/trail/us/california/silver-mountain"] {
    font-size: 20px;
    color: white;
}

a:hover {
    color: yellow;
    font-size: 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

/*
p::first-line 
{
    font-size: 15px;
    color: green;
}

ul > li {
    font-size: 15px;
    color: rebeccapurple;
}
/*
li, 
#my-id, 
.my-class {
    color: red;
    width: 500px;
    border: 1px solid black;
}
img[src] {
    color: olivedrab;
    border: 5px solid yellow;
}

a:hover {
    color: blue;
    font-size: large;
} 
    */
